@font-face {
  font-family: "Myfont";
  src: url("MightypeScript.otf");
}

/* new */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: skyblue;
}

.circle {
  position: absolute;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  top: 14px;
  left: 50%;
  margin-left: -75px;
}

.eye {
  width: 150px;
}

#box {
  background-color: white;
  margin: 5rem 15rem 3rem 15rem;
  border-radius: 20px;
  height: 80vh;
  box-shadow: 3px 3px 10px;
}

.content {
  padding-top: 6rem;
}

.content__container {
  font-size: 4rem;
  margin: 0 auto 0 auto;
  width: 260px;
  height: 80px;
  vertical-align: middle;
  line-height: 70px;
  overflow: hidden;
}

.content__container__text {
  margin: 0;
  float: left;
  padding-left: 10px;
}

.content__container__list {
  list-style: none;
  margin: 0;
  padding-left: 150px;
  animation: anim 10s infinite;
}

.content__container__list__item {
  color: black;
}

.input__name {
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  margin: 0;
}

input[type="text"] {
  appearance: none;
  outline: none;
  display: block;
  width: 300px;
  height: 30px;
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

input[type="submit"] {
  outline: none;
  width: 200px;
  padding: 20px;
  background-color: red;
  border: 2px solid red;
  text-align: center;
  border-radius: 50px;
  font-size: 1.5em;
  margin-top: 40px;
  margin-left: 38%;
  color: white;

  /* box-shadow: 2px 2px; */
}

input[type="submit"]:hover {
  color: red;
  background-color: white;
  border: 2px solid red;
}

@keyframes anim {
  0% {
    transform: translate3d(0, 0, 0);
  }
  48% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -50%, 0);
  }
  98% {
    transform: translate3d(0, -50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
